services:
  pihole_disable:
    container_name: pihole_disable
    build:
      context: .
    ports:
      - '8888:8888'
    env_file: .env
    volumes:
      - logs:/app/logs
    restart: unless-stopped

volumes:
  logs: