html {
    font-family: "DejaVu Sans Condensed", sans-serif;
    background: black;
    color: white;
}
body {
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 6fr 2fr;
    height: 100vh;
}
header {
    align-content: center;
    border: 2px solid white;
}
h1 {
    text-transform: uppercase;
    font-size: 5vh;
    margin: 0;
}
nav menu {
    list-style: none;
    margin: 0;
    padding: 2em;
    display: grid;
    gap: 2em;
    height: 100%;
    box-sizing: border-box;
    &#menu-main {
        @media (orientation: portrait) {
            grid-template-rows: repeat(3, 1fr);
        }
        @media (orientation: landscape) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    &#menu-disable {
        padding: 0;
        gap: 1em;
        @media (orientation: portrait) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (orientation: landscape) {
            grid-template-rows: repeat(3, 1fr);
        }
    }
}
nav menu > li {
    display: contents;
}
nav menu > li > a {
    align-content: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 10vh;
    &#link-status {
        background: white;
    }
    &#link-enable {
        background: green;
    }
    &#link-disable, &.link-disable {
        background: red;
    }
    &:hover {
        outline: 1rem solid gray;
    }
}
nav menu#menu-disable > li > a {
    line-height: 10vh;
    font-size: 5vh;
    &:hover {
        outline: 0.5rem solid gray;
    }
}
#status {
    background: white;
    color: black;
    align-content: center;
}
#status > p {
    font-size: 5vh;
    margin: 0;
    & > .enabled {
        color: green;
        text-transform: uppercase;
    }
    & > .disabled {
        color: red;
        text-transform: uppercase;
    }
}
#client-ip {
    font-size: 2.5vh;
}
#form {
    border: 2px solid white;
    align-content: center;
}
form {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "inputPeriod formSubmit"
        "inputCheck formSubmit";
    font-size: 5vh;
}
form > label#form-period {
    grid-area: inputPeriod;
    align-content: center;
}
form > label#form-check {
    display: flex;
    grid-area: inputCheck;
    align-items: center;
    justify-content: space-evenly;
}
form > * {
    margin: 0.25em;
}
form input[type="number"], input[type="submit"] {
    font-size: 1em;
    background: white;
    color: black;
    border: none;
}
form input[type="number"] {
    width: 4em;
}
form input[type="checkbox"] {
    transform: scale(4);
}
form > input[type="submit"] {
    grid-area: formSubmit;
    padding: 0.25em;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
        outline: 0.25em solid gray;
    }
}
a#cancel-link {
    color: black;
    font-weight: bold;
}