{% extends "base.html" %}

    {%  block page_nav %}<nav>
        <menu id="menu-main">
            <li><a href="/" id="link-status">Status</a></li>
            <li><a href="/enable" id="link-enable">Enable</a></li>
            <li>
                <menu id="menu-disable">
                    <li><a href="/disable/1" class="link-disable">+1</a></li>
                    <li><a href="/disable/5" class="link-disable">+5</a></li>
                    <li><a href="/disable/30" class="link-disable">+30</a></li>
                </menu>
            </li>
        </menu>
    </nav>{% endblock %}

{% block page_content %}
    <div id="form">
        <form action="/disable" method="post">
            <div>
                <label for="period">Period (minutes): </label>
                <input type="number" id="period" name="period" required autofocus>
                <input type="submit" value="Submit" id="submit">
            </div>
            <div>
                <input type="checkbox" id="device" name="device" value="y">
                <label for="device">Device only</label>
            </div>
            <input type="hidden" id="ip-addr" name="ip-addr">
        </form>
    </div>
{% endblock %}