<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pihole disabler</title>
    {% if refresh_period > 0 %}<meta http-equiv="Refresh" content="{{ refresh_period }}" />{% end %}
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <h1>Pihole disabler</h1>
    <nav>
        <menu>
            <li><a href="/" id="link-status">Status</a></li>
            <li><a href="/do/enable" id="link-enable">Enable</a></li>
            <li><a href="/do" id="link-disable">Disable</a></li>
        </menu>
    </nav>
    {% block page_content %}{% end %}
</body>
</html>