<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pihole disabler</title>
    {% if refresh_period > 0 %}<meta http-equiv="Refresh" content="{{ refresh_period }}" />{% end %}
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <header>
        <h1>Pihole disabler</h1>
    </header>
    {%  block page_nav %}<nav>
        <menu id="menu-main">
            <li><a href="/" id="link-status">Status</a></li>
            <li><a href="/enable" id="link-enable">Enable</a></li>
            <li><a href="/disable" id="link-disable">Disable</a></li>
        </menu>
    </nav>{% end %}
    {% block page_content %}{% end %}
</body>
</html>