{% extends "base.html" %}

    {%  block page_nav %}<nav>
        <menu id="menu-main">
            <li><a href="/" id="link-status">Status</a></li>
            <li><a href="/enable" id="link-enable">Enable</a></li>
            <li>
                <menu id="menu-disable">
                    <li><a href="/disable/1" id="link-disable">+1</a></li>
                    <li><a href="/disable/5" id="link-disable">+5</a></li>
                    <li><a href="/disable/30" id="link-disable">+30</a></li>
                </menu>
            </li>
        </menu>
    </nav>{% end %}

{% block page_content %}
    <div id="form">
        <form action="/disable" method="post">
            <label for="period">Period (minutes): </label>
            <input type="number" id="period" name="period" required autofocus>
            <input type="submit" value="Submit" id="submit">
        </form>
    </div>
{% end %}